.navbar-default{
    background: white;
}

#logo{
    position: absolute;
    left: 0px;
    top: -15px;
}

.signupBtn{
    background: #4c9fcd;
    color: white;
    border: none;
    border-radius: 5px;
    height: 37px;
    width: 100px;
    outline: none;
    position: relative;
    top: -7px;
}


.container{
    margin-top: 5px;
}

body{  
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.header{
    width:85%;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
}

header form {
    width:500px;
}
.search {
    padding:8px 15px;
    background: #fff;
    border:0px solid #dbdbdb;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 75%;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #f0512e;
    background-color:#f0512e;
    color:#fafafa;  
    width: 70px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.button:hover  {
    background-color:#dd4e26;
    
}

section{
    display: block;
    position: relative;
}

.first{
	/* Giving a display value to the HTML5 rendered elements: */
    height: 600px;
    background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
    background-position: top;
	background-image: url("../img/background.jpg");
    position: relative;
}
.navbarr{
    margin-bottom: 70px;
    display: block;
}

#second{
    height: 500px;
    position: relative;
    text-align: center;
}


.content {
	padding: 1em 0 3em;
	max-width: 1080px;
	margin: 0 auto;
}

.searchFilter{
    position: relative;
    display: block;
}

.mapSection{
    height: 100%;
}
